<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Datatypes in Java</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="false" aria-controls="ProblemStatement">
                DataTypes Introduction
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
                
                <p>Data types are describes the type of data with sizes and values that can be stored in the variable.</p>
                <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Data Type</th>
                        <th scope="col">Default Value</th>
                        <th scope="col">Size</th>
                        <th scope="col">Range</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">boolean</th>
                            <td>false</td>
                            <td>1 bit </td>
                            <td>true  (or) false</td>
                        </tr>
                        <tr>
                            <th scope="row">byte</th>
                            <td>0</td>
                            <td>8 bits (1 Byte) </td>
                            <td>-128 to 127</td>
                          </tr>
                        <tr>
                            <th scope="row">int</th>
                            <td>0</td>
                            <td>32 bits (4 Bytes) </td>
                            <td>-2,147,483,648 to 2,147,483,647</td>
                        </tr>
                        <tr>
                            <th scope="row">long</th>
                            <td>0</td>
                            <td>64 bits (8 Bytes) </td>
                            <td>-9,223,372,036,854,775,808 to 9,223,372,036,854,775,807</td>
                        </tr>
                        <tr>
                            <th scope="row">double</th>
                            <td>0.0</td>
                            <td>64 bits (8 Bytes)</td>
                            <td>Sufficient for storing 15 decimal digits</td>
                        </tr>
                        <tr>
                            <th scope="row">float</th>
                            <td>0.0</td>
                            <td>32 bits (4 Bytes)</td>
                            <td>Sufficient for storing 6 to 7 decimal digits</td>
                        </tr>
                        <tr>
                            <th scope="row">char</th>
                            <td>space is the defalt value of char</td>
                            <td>16 bits (2 Bytes)</td>
                            <td>Stores a single character/letter or ASCII values</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
          </div>
        </div>
       
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Example Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">

                <img src="assets/img/intro/data.JPG"/>              
              
            </div>
          </div>
        </div>
        
      </div>
      <br/>
     
    </div>
</div> 
