<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>HAVING Statement</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                HAVING Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">

              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <p>
                        We know that WHERE clause is used to place conditions on columns but what if we want to place conditions on groups?
                    </p>
                    <p>
                        This is where HAVING clause comes into use. We can use HAVING clause to place conditions to decide which group will be the part of final result-set. Also we can not use the aggregate functions like SUM(), COUNT() etc. with WHERE clause. So we have to use HAVING clause if we want to use any of these functions in the conditions.
                    </p>
                    <pre>
      
                Syntax : 

                        SELECT column1, function_name(column2)
                        FROM table_name
                        WHERE condition
                        GROUP BY column1, column2
                        HAVING condition;
                    </pre>   
                  </div>
                </div>
              </div>
            </div><!-- Ending of problem statement card body-->
          </div>
        </div> <!-- Ending of problem statement-->
       

        
        
      </div>
      <br/>
      <!--<p>   another collapse end here </p>-->
      <!-- <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp> -->
    </div>
  </div> 
  



