<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Student Class</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card">
              <h5 class="card-header">Student Class</h5>
              
              <div class="card-body">
                <p>Create Student class with following properties <br>
                  Create a tester class and create & print atleast 5 student objects in the tester class main method.</p>
                  <ol>
                      <li>id - This property is to give unique id for student like rollnumber(int type)</li>
                      <li>name - The name of the student.(string type)</li>
                      <li>branch - The branch or course of the student like(cse, eee, bse, mpc and etc)(String type)</li>
                      <li>section - The section of the student.(string type)</li>
                      <li>totalMarks - The total marks of the student obtainded.(double type)</li>
                      <li>grade - The Grade of the student(A,B,C,D and etc).(char type)</li>
                  </ol>
                </div>
                
            </div><!-- Ending of problem statement card body-->
          </div>
        </div> <!-- Ending of problem statement-->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/objectclass/student.JPG" alt="program">
              <img src="assets/img/objectclass/studentt.JPG" alt="program">
            </div>
          </div>
        </div><!--end of pragram-->
      </div>
    </div>
  </div> 
  



