<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>ARTHMETIC Operator</h3>
      <div id="accordion">
        <div class="card">
            <div class="card-body">

                <div class="card border-warning" style="border: 2px solid;">
                  <div class="card" style="margin: 5px;">
                    <div class="card-body" style="font-family: 'Inter', sans-serif;">
                      <p>
                    We can use various arithmetic operators on the data stored in the tables. Arithmetic Operators are:
  
                      </p>
                      <img class="img-center" src="assets/img/mySql/operator/arthmetic.JPG" alt="pattern" >   
                    </div>
                  </div>
                </div>
              </div><!-- Ending of problem statement card body-->
          

          
        </div> <!-- Ending of problem statement-->
       

        
        </div>
       
      <br/>
      <!--<p>   another collapse end here </p>-->
      <!-- <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp> -->
    </div>
</div> 
  



