<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Even or Odd</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">

              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <p>
                      A number which is divisible by 2 and generates a remainder of 0 is called an even   number.<br>
                      A number that is not divisible by 2 and generates a remainder of 1 is called an odd number. 
                    </p>
                    <img src="assets/img/basic/evenodddata.jpg" alt="program">
                    <img src="assets/img/basic/module.jpg" alt="program">
                  </div>
                </div>

                 <!-- Starting of examples-->
                <div class="card-group">
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>Example - 1</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter a number</p>
                      <p style="margin-top: -20px;" class="card-text">22</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">22 is even number.</p>
                    </div>
                  </div>

                  <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center "><b>Example - 2</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter a number</p>
                      <p style="margin-top: -20px;" class="card-text">11</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">11 is odd number.</p>
                    </div>
                  </div>

                  <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                    <div class="card-header text-center"><b>Example - 3</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter a number</p>
                      <p style="margin-top: -20px;" class="card-text">85</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">85 is odd number.</p>
                    </div>
                  </div>
                </div> <!-- Ending of examples-->
              </div>
            </div><!-- Ending of problem statement card body-->
          </div>
        </div> <!-- Ending of problem statement-->
       
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/basic/evenodd.JPG" alt="program">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                DebuggingVideo
              </button>
            </h5>
          </div>
          <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <app-video-cmp [url]="'01Even.m4v'"></app-video-cmp>              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#testcases" aria-expanded="false" aria-controls="InputOutput">
                Test Cases
              </button>
            </h5>
          </div>
          <div id="testcases" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body">

              <!-- Startinf of test cases -->
              <div class="card-group">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                  <div class="card-header text-center font-weight-bold">TestCase - 1</div>
                  <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                    <p class="card-text">22</p>
                    <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                    <p class="card-text">Even</p>
                  </div>
                </div>

                <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                  <div class="card-header text-center font-weight-bold">TestCase - 2</div>
                  <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                    <p class="card-text">11</p>
                    <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                    <p class="card-text">Odd</p>
                  </div>
                </div>

                <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                  <div class="card-header text-center font-weight-bold">TestCase - 3</div>
                  <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                    <p class="card-text">85</p>
                    <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                    <p class="card-text">Odd</p>
                  </div>
                </div>
              </div> <!-- Ending of test cases -->
                
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Practice" aria-expanded="false" aria-controls="Practice">
                Practice
              </button>
            </h5>
          </div>
          <div id="Practice" class="collapse" aria-labelledby="headingFive">
            <div class="card-body">
              
            </div>
          </div>
        </div>

      </div>
      <br/>
      <!--<p>   another collapse end here </p>-->
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div> 
  
