<div class="students-offers-section">
    <img src="assets/img/company-offers/05.png" style="width: 20%; margin-left: 8px;" alt="">
    <div class="img-container">
      <marquee class="marquee-content" behavior="scroll" direction="left" scrollamount="10" >
        <img src="assets/img/company-offers/accenture-logo.png" alt="">
          <img src="assets/img/company-offers/CGI-logo.png" alt="">
          <img src="assets/img/company-offers/Cognizant-Logo.png" alt="">
          <img src="assets/img/company-offers/fis-global-logo.png" alt="">
          <img src="assets/img/company-offers/hcl-logo.jpg" alt="">
          <img src="assets/img/company-offers/hexawave-logo.png" alt="">
          <img src="assets/img/company-offers/LTI-logo.svg" alt="">
          <img src="assets/img/company-offers/pragmatic-design-solutions-logo.png" alt="">
          <img src="assets/img/company-offers/tcs-logo.png" alt="">
          <img src="assets/img/company-offers/virtusa-logo.JPG" alt="">
          <img src="assets/img/company-offers/wipro-logo.png" alt="">
      </marquee>
    </div>
  </div>