<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Static</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Static Keyword
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
<pre>
  -	Memory allocation for static data happens along with the class.
  -	Non-static data cannot be accessed from static methods
  -	Static data can be accessed with the help of class name outside the class
  -	Non-Static data can be accessed with the help of object
  -	Static block will be executed even before the execution of constructor  
</pre>
                <img src="assets/img/keywords/static.JPG" alt="program">
                <img src="assets/img/keywords/static2.JPG" alt="program">
            </div><!-- Ending of problem statement card body-->
          </div>
        </div> <!-- Ending of problem statement-->
      </div>
    </div>
  </div> 
  


