<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Strong Number</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <p>
                      A strong number is a special number that can be defined as an addition of factorial of each digit of the number, which is equal to the number itself. 
                    </p>
                    <p>
                     
The number 145 is a strong number.<br>
This is because if we add the factorials of each digit of this number, you will get the number, which is 145 itself.<br> 

The number 23 is not a strong number.<br> 
This is because if we add the factorials of each digit of this number, you will get the number which is not equal to 23 itself.<br>

For example:<br>  
145 = 1! + 4! + 5! = 1 + 24 + 120 = 145.<br> 
23 = 2! + 3! = 2 + 6= 8(which is not equal to 23)<br>

                    </p>  
                  </div>
                </div>
                <div class="card-group">
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>Example - 1</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter n value</p>
                      <p style="margin-top: -20px;" class="card-text">145</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">145 is a strong number</p>
                    </div>
                  </div>
        
                  <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center "><b>Example - 2</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter n value</p>
                      <p style="margin-top: -20px;" class="card-text">23</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">23 is not a strong number</p>
                    </div>
                  </div>
        
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                    <div class="card-header text-center"><b>Example - 3</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter n value</p>
                      <p style="margin-top: -20px;" class="card-text">22</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">22 is not a strong number</p>
                    </div>
                  </div>
                </div> <!-- Ending of examples-->
              </div>  
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/basic/strong.JPG" alt="program">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                DebuggingVideo
              </button>
            </h5>
          </div>
          <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <app-video-cmp [url]="'10StrongNumber.mp4'"></app-video-cmp>              
            </div>
          </div>
        </div>
        
      </div>
      <!--<p>   another collapse end here </p>-->
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div>
