<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Armstrong Number</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <p>
                      To print whether the given number is a palindrome or not. If the reverse of a number is equal to its original number then it is a palindrome number.
                    </p>
                    <p>
                      An Armstrong number is a number which equals to the sum of the cubes of its individual digits.<br>

                      For example:<br>
                      153 is an Armstrong number as<br>
                      153 = (1)3 + (5)3 + (3)3<br>
                          = 1 + 125 + 27 = 153.<br>
                      Here, we are adding cubes of individual digits which is equal to its original number 153<br>
                    
                    </p>  
                  </div>
                </div>
                <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center"><b>Example - 1</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">Enter a number</p>
              <p style="margin-top: -20px;" class="card-text">153</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Given number 153 is a amstrong number 153</p>
            </div>
          </div>

          <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center "><b>Example - 2</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">Enter a number</p>
              <p style="margin-top: -20px;" class="card-text">370</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Given number 370 is a amstrong number 370</p>
            </div>
          </div>

          <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
            <div class="card-header text-center"><b>Example - 3</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">Enter a number</p>
              <p style="margin-top: -20px;" class="card-text">25</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Given number 25 is not a amstrong number 133</p>
            </div>
          </div>
        </div> <!-- Ending of examples-->
      </div>  
       
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/basic/armstrong.JPG" alt="program">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                DebuggingVideo
              </button>
            </h5>
          </div>
          <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <app-video-cmp [url]="'06ArmstrongNumber.mp4'"></app-video-cmp>              
            </div>
          </div>
        </div>

      </div>
    <!--<p>   another collapse end here </p>-->
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div>
