<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>SELECT Database</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                SELECT DATABASE Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">

              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <p>
                        When you have multiple databases in your SQL Schema, then before starting your operation, you would need to select a database where all the operations would be performed.
                        The SQL USE statement is used to select any existing database in the SQL schema. 
                    </p>
                    <pre>

                      Syntax : USE databasename;
                                      
                      E.g.: - USE myDatabase;
                    </pre>     
                  </div>
                </div>

                 <!-- Starting of examples-->
                <div class="card-group">
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>Example - 1</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Query</h6>
                      <p class="card-text">USE myDatabase;</p>
                      <h6 class="card-subtitle mb-2 text-muted">Result of Query</h6>
                      <p class="card-text">DATABASE USED.</p>
                    </div>
                  </div>

                  <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center "><b>Example - 2</b></div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Query</h6>
                        <p class="card-text">USE bookingDatabase;</p>
                        <h6 class="card-subtitle mb-2 text-muted">Result of Query</h6>
                        <p class="card-text">DATABASE USED.</p>
                    </div>
                  </div>
                </div> <!-- Ending of examples-->
              </div>
            </div><!-- Ending of problem statement card body-->
          </div>
        </div> <!-- Ending of problem statement-->
       

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#testcases" aria-expanded="false" aria-controls="InputOutput">
                QUERY
              </button>
            </h5>
          </div>
          <div id="testcases" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body">
                <P>SHOW DATABASES;</P>
                <P>USE myDatabase;</P>
            </div>
          </div>
        </div>
        

      </div>
      <br/>
      <!--<p>   another collapse end here </p>-->
      <!-- <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp> -->
    </div>
  </div> 
  


