<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Neon Number</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <p>
                      A neon number is a number where the sum of digits of square of the number is equal to the number. 
                    </p>
                    <p>
                     
Example: 1<br>
First, we need to perform square of the number that is 12*12 = 144 and<br>
then add the digits of the square that is  1 + 4 + 4 = 9 which is not equal to 12<br>
So, 12 is not neon number.<br>

Example: 2<br>
First, we need to perform square of the number that is 9*9 = 81 and<br>
then add the digits of the square that is 8 + 1 = 9 which is equal to 9<br>
So, 9 is a neon number.<br>
                    
                    </p>  
                  </div>
                </div>
                <div class="card-group">
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>Example - 1</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter a number</p>
                      <p style="margin-top: -20px;" class="card-text">9</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Given number 9 is a neon number</p>
                    </div>
                  </div>
        
                  <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center "><b>Example - 2</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter a number</p>
                      <p style="margin-top: -20px;" class="card-text">12</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Given number 12 is not a neon number</p>
                    </div>
                  </div>
        
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                    <div class="card-header text-center"><b>Example - 3</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter a number</p>
                      <p style="margin-top: -20px;" class="card-text">1</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Given number 1 is a neon number</p>
                    </div>
                  </div>
                </div> <!-- Ending of examples-->
              </div>  
               
           </div>

          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/basic/neon.JPG" alt="program">
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
              DebuggingVideo
            </button>
          </h5>
        </div>
        <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
          <div class="card-body">
            <app-video-cmp [url]="'07NeonNumber.m4v'"></app-video-cmp>              
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Practice" aria-expanded="false" aria-controls="Practice">
              Practice
            </button>
          </h5>
        </div>
        <div id="Practice" class="collapse" aria-labelledby="headingFive">
          <div class="card-body">
            
          </div>
        </div>
      </div>
      <!--<p>   another collapse end here </p>-->
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div>
