.visibility-hidden{
    visibility: hidden;
    transition:visibility 0ms!important;
}
.padding-top-bottom-16{
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu-button-toggle{
    border: 0.5px solid #767676;
    font-size: 20px;
    background: white;
    color: black;
    margin-left: 2px;
    padding: 3px 13px;
    border-radius: 4px;
    transition: 0.5s ease;
    &:hover{
        border: 0.5px solid #767676;
        font-size: 20px;
        background: black;
        color: white;
        margin-left: 2px;
        padding: 3px 13px;
        border-radius: 4px;
    }
    &:focus{
        border: 0.5px solid #767676;
        font-size: 20px;
        background: black;
        color: white;
        margin-left: 2px;
        padding: 3px 13px;
        border-radius: 4px;
        box-shadow: inset 0px 0px 3px 1px rgb(255 255 255);
    }
}
a.second-nav-links
{
    color: inherit;
    text-decoration: none;
}
a{
    &.second-nav-links{
        background: linear-gradient( to right, rgb(171 182 255), rgb(255 255 255) ), 
                    linear-gradient( to right, #182dc2 -6.56%, #79a8cd 122.43% );
        background-size: 94% 2px, 0px 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
        padding: 15px 15px 10px 15px;
        margin-left: 10px;
        font-weight: 600;
        font-size: 18px;
        color: #282828;
        &:hover{
            background-size: 0 2px, 100% 3px;
            cursor: pointer;
            color: #000000;
        }
        &.active{
            background-size: 0 2px, 100% 3px;
            cursor: pointer;
            color: #000000;
        }
    }
}