<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Strings Introduction</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
               Introduction
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <pre>
The String is a collection of characters. In Java, the string is an object that represents a sequence of characters.
The String class available in the java.lang.String package.
              </pre>
              <img src="assets/img/strings/intro.JPG" alt="program">
              <img src="assets/img/strings/introoutput.JPG" alt="program">
              <img src="assets/img/strings/read.JPG" alt="program">
              <img src="assets/img/strings/readoutput.JPG" alt="program">

              
            </div>
          </div>
        </div>
      </div>
    </div>           
</div>

