<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>PREDATA</h3>
      <div class="card-body">

        <div class="card border-warning" style="border: 2px solid;">
          <div class="card" style="margin: 5px;">
            <div class="card-body" style="font-family: 'Inter', sans-serif;">
              <!-- <p>
                  The CREATE DATABASE statement is used to create a new SQL(Structure Query Language) database. 
              </p> -->
              <h6 class="text-center">TABLE 1</h6>
              <img class="img-center" src="assets/img/mySql/create/empTable.JPG" alt="pattern" >
              <pre>

CREATE QUERY : 

    CREATE TABLE CUSTOMERS(ID   INT,NAME VARCHAR (20),AGE  INT,LOCATION  CHAR (25) ,SALARY   DECIMAL (18, 2));
                                
              </pre>   

              <h6 class="text-center">TABLE 2</h6>
              <img class="img-center" src="assets/img/mySql/create/productTable.JPG" alt="pattern" >
              <pre>

CREATE QUERY : 

    CREATE TABLE PRODUCT(ID   INT,NAME VARCHAR (20),TYPE  CHAR (25) ,COST   DECIMAL (18, 2));

              </pre>     
            </div>
          </div>
        </div>
      </div><!-- Ending of problem statement card body-->
      <!--<p>   another collapse end here </p>-->
      <!-- <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp> -->
    </div>
  </div> 
