<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Reading Input from Console</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="false" aria-controls="ProblemStatement">
                Scanner Class
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <p>In java we use Scanner class to read input from the keyboard(console). This scanner class available in the <b>java.util</b> package.</p>
              <p> So to use this scanner class we have write import statement at the starting of the program.</p>
              <p>Thre are different method available in the Scanner class for each data type.</p>
              <p>Example :- </p>
              <img src="assets/img/intro/input.JPG"/>
            </div>
          </div>
        </div>
        
      </div>
      <br/>
     
    </div>
  </div> 
  


