<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>All Type Of Arrays</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
               Introduction
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
                <img src="assets/img/arrays/all.JPG" alt=""/>
                <img src="assets/img/arrays/alloutput.JPG" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </div>           
</div>

