<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>College - Branch (One to Many Relation)</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement"
                aria-expanded="true" aria-controls="ProblemStatement">
                College - Branch (One College can have multiple Branches)
              </button>
            </h5>
          </div>
  
          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
  
              <div class="card-group">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                  <div class="card-header text-center"><b>College Class</b></div>
                  <div class="card-body">
                    <p>Create College class with following properties <br>
                      Create a tester class and create & print atleast 5 college objects in the tester class main method.
                    </p>
                    <ul>
                      <li>Declare all class variables as private.</li>
                      <li>Write Defalut and parameterized constructor.</li>
                      <li>Write Setters and Getters for each private variable.</li>
                      <li>Write toString() method for the class.</li>
                    </ul>
                    <p>Here we are going to use branch class object in the college class as a parameter.</p>
                    <p>Each college belongs to different branches so one college can have multiple branches. </p>
                    <ol>
                      <li>id - The code of the college(string type)</li>
                      <li>name - The name of the college.(string type)</li>
                      <li>isGround - The college has ground or not(boolean type)</li>
                      <li>isLibrary - The college has library or not(boolean type)</li>
                      <li>isCanteen - The college has canteen or not(boolean type)</li>
                      <li><b>branches - The list of branches in the college(List&lt;Branch&gt; branches - list object with Branch type)</b></li>  
                    </ol>
                  </div>
                </div>
  
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                  <div class="card-header text-center "><b>Branch Class</b></div>
                  <div class="card-body">
                    <p>Create Branch class with following properties <br>
                      Create a tester class and create & print atleast 5 Branch objects in the tester class main method.
                    </p>
                    <ul>
                      <li>Declare all class variables as private.</li>
                      <li>Write Defalut and parameterized constructor.</li>
                      <li>Write Setters and Getters for each private variable.</li>
                      <li>Write toString() method for the class.</li>
                    </ul>
                   
                    <ol>
                      <li>id - Branch unique id.(int type)</li>
                      <li>name - Name of the branch(cse,it, mpc, bsc and etc).(string type)</li>
                      <li>maxCapacity - Maximum number of students for the branch.(int type)</li>
                    </ol>
                  </div>
                </div>
              </div> <!-- Ending of examples-->
  
            </div>
          </div>
        </div>
      </div>
      <!--end of the problem statement-->
  
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program"
              aria-expanded="false" aria-controls="Program">
              Program
            </button>
          </h5>
        </div>
        <div id="Program" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">
            <div class="card-group">
              <div class="card">
                <h5 class="text-center card-title">Student POJO Class</h5>
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/classrelation/" alt="">
                </div>
              </div>
              <div class="card">
                <h5 class="text-center card-title">Branch POJO Class</h5>
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/classrelation/" alt="">
                </div>
              </div>
            </div>
            <img class="card-img-top" src="assets/img/classrelation/" alt="">
          </div>
        </div>
      </div>
      <!--end of pragram-->
    </div>
  </div>