<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Software Installations</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="false" aria-controls="ProblemStatement">
                Java Installation
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
                
                <a class="btn btn-primary btn-lg" href="https://www.oracle.com/java/technologies/downloads/" role="button" target="_blank">Click Here to Download Java</a>

                <br>
                <p>The above link will take you to the oracle website to download Java. (Here we are using Java 11)</p>

                <img src="assets/img/intro/insta/01.JPG"/>

                <p>After open the link scroll down and select Java 11 and windows(refer below image). The click on jdk-11.0.14_windows-x64_bin.exe</p>
                <img src="assets/img/intro/insta/02.JPG"/>

                <img src="assets/img/intro/insta/03.JPG"/>
                <p>After click on the .exe the page will redirect to the oracle website you have to enter username and password</p>
                <p>If you want to create your own account click create account button or you can use coding maxima creditials</p>
                <p>User Name : - codingmaxima@gmail.com</p>
                <p>Password :- Coding@11</p>
                <p>Copy paste the above creditials then click on sign in button your download will start</p>
                <img src="assets/img/intro/insta/04.JPG"/>

                <p>After completion of download click on the downloaded file and click on next -> next -> .... finally click on finish</p>
                <img src="assets/img/intro/insta/06.JPG"/>

            </div>
          </div>
        </div>
       
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Eclipse Installation
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">

                <a class="btn btn-primary btn-lg" href="https://www.eclipse.org/downloads/" role="button" target="_blank">Click Here to Download Eclipse</a>

                <br>
                <p>The above link will take you to the eclipse website to download Eclipse. Click on Download x86_64</p>

                <img src="assets/img/intro/insta/001.JPG"/>
                <img src="assets/img/intro/insta/002.JPG"/>
                <img src="assets/img/intro/insta/003.JPG"/>
                <img src="assets/img/intro/insta/004.JPG"/>    
                <img src="assets/img/intro/insta/005.JPG"/>              
              
            </div>
          </div>
        </div>
        
      </div>
      <br/>
     
    </div>
  </div> 
  


