<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>ArrayList Introduction</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
               Introduction
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <pre>

Array List is a resizable array or dynamic array. 

As we know that the size of an array is fixed, if we declare an array of size 10 then we cannot store more than 10 elements in the array. 

But in the case of array list the size of an array list is not fixed. It is dynamic. The size of an array list can be changed according to the elements inside it.

We cannot change or modify an array means if we want to add elements to an array or want to delete elements from an array you need to create a new array. But in the case of an array list, we can add or remove elements from an array list whenever we want.

Creating an Array List:

ArrayList&lt;Integer&gt; integers = new ArrayList&lt;&gt; ();
Here, integers are the object which can store integer values.
ArrayList&lt;String&gt; strings = new ArrayList&lt;&gt; ();
Here, strings are the object which can store Strings.
                
            </pre>   
            <img src="assets\img\collections\arraylist.JPG">
            <img src="assets\img\collections\output.JPG">
            </div>
          </div>
        </div>
      </div>
    </div>           
</div>
