<div>
  <div class="card card-body">
    <!--<p>   another collapse start here </p>-->
    <h3>Exception Introduction</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement"
              aria-expanded="true" aria-controls="ProblemStatement">
              Introduction
            </button>
          </h5>
        </div>

        <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <pre>

In programming, we concern about errors. If you write a code then the first thing you see is error. For example, when you don’t declare a variable and try to use it then you will get error. In Java, we have different types of errors, we have two different things which are exceptions and errors.

Exception:
When we try to open a file and it does not exist then it’s an exception. You are asking input from the user and user is not giving the input then its an exception. When we divide a number by 0 then it’s an exception.
Simply, Error is an unwanted or unexpected event that disturbs normal flow of the program.
We can handle the exceptions and are recoverable as well.

Error:
We cannot handle the errors because JVM is not working properly then We cannot do or handle anything for that. In the same way if RAM is out of memory, then also, we cannot do anything.
Errors are unrecoverable as well.

Exception Handling:

Exception handling is to handle the exceptions. We have five keywords that are used to handle the exception. The purpose of Exception Handling is to define the alternative way to control rest of the program normally.
1)Try
2)Catch
3)Throw
4)Throws
5)Finally       
            </pre>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>