<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Longest String</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <pre>

Program to find longest string  in the string array using Hashmap.

Example :

If we have an array string[] = {{ '{' }} “java”,”test”,”java”,”learning”{{ '}' }} and 
we need to print the longest string in a string array. 
In the string array we can see the string “learning” is the longest(size of the string is greater than the remaining strings). 
So, we can print the string "learning” is the Longest string in the string array.

Sample 1 :
String[] =  {{ '{' }}“coding”,”maximum”,”success”,”calculation”{{ '}' }}
output : 
Longest string in the array is calculation

Sample 2 :
String[] =  {{ '{' }}“occurrence”,”one”,”management”,”strong”{{ '}' }}
output : 
Longest string in the array is occurrence
Longest string in the array is management
                                                         
                      </pre>
                      
                  </div>
                </div>

                <!-- Starting of examples-->
                <div class="card-group">
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>Example - 1</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">string[] = {{ '{' }}“coding”,”maximum”,”success”,”calculation”{{ '}' }}</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Longest string in the array is calculation</p>                                    
                                          
                    </div>
                  </div>

                  <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center "><b>Example - 2</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">string[] = {{ '{' }}“occurrence”,”one”,”management”,”strong”{{ '}' }}</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Longest string in the array is occurrence<br>
                                           Longest string in the array is management</p>
                      
                    </div>
                  </div>

                  <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                    <div class="card-header text-center"><b>Example - 3</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">string[] = {{ '{' }}“coding”,”primary”,”maxima”{{ '}' }}</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Longest string in the array is primary</p>
                    </div>
                  </div>
                </div> <!-- Ending of examples-->
              </div>          
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/hashmap/LongestString.JPG" alt="program">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                DebuggingVideo
              </button>
            </h5>
          </div>
          <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <app-video-cmp [url]="'07LongestString.m4v'"></app-video-cmp>              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Practice" aria-expanded="false" aria-controls="Practice">
                Practice
              </button>
            </h5>
          </div>
          <div id="Practice" class="collapse" aria-labelledby="headingFive">
            <div class="card-body">
              
            </div>
          </div>
        </div>

      </div>
      <br/>
      <!--<p>   another collapse end here </p>-->
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div> 
  
