<div>
  <div class="card card-body">
    <!--<p>   another collapse start here </p>-->
    <h3>State Design Pattern</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#example1"
              aria-expanded="true" aria-controls="ProblemStatement">
              Example - 1
            </button>
          </h5>
        </div>

        <div id="example1" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">

           
          </div>
        </div>
      </div> <!-- Ending of example 1-->

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#example2"
              aria-expanded="false" aria-controls="Program">
              Example - 2
            </button>
          </h5>
        </div>
        <div id="example2" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">
           
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
