<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Employee - Designation (One to One Relation)</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement"
                aria-expanded="true" aria-controls="ProblemStatement">
                Employee - Designation (One employee should have One designation)
              </button>
            </h5>
          </div>
  
          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
  
              <div class="card-group">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                  <div class="card-header text-center"><b>Employee Class</b></div>
                  <div class="card-body">
                    <p>Create Employee class with following properties <br>
                      Create a tester class and create & print atleast 5 employee objects in the tester class main method.
                    </p>
                    <ul>
                      <li>Declare all class variables as private.</li>
                      <li>Write Defalut and parameterized constructor.</li>
                      <li>Write Setters and Getters for each private variable.</li>
                      <li>Write toString() method for the class.</li>
                    </ul>
                    <p>Here we are going to use designation class object in the employee class as a parameter.</p>
                    <p>Each employee belongs to single designation only so one employee should have only one designation.</p>
                    <ol>
                        <li>empid - This property is to give unique id for the employee like employeeID(string type)</li>
                        <li>name - The name of the employee.(string type)</li>
                        <li><b>designation - The role of the employee.(Designation class object)</b></li>
                        <li>salary - The package of the employee.(double type)</li>
                        <li>experience - The total years of the employee obtainded.(double type)</li>
                        <li>permanent - The status of the employee whether the employee is permanent or not(true or false).(boolean type)</li>
                    </ol>
                  </div>
                </div>
  
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                  <div class="card-header text-center "><b>Designation Class</b></div>
                  <div class="card-body">
                    <p>Create Designation class with following properties <br>
                      Create a tester class and create & print atleast 5 designation objects in the tester class main method.
                    </p>
                    <ul>
                      <li>Declare all class variables as private.</li>
                      <li>Write Defalut and parameterized constructor.</li>
                      <li>Write Setters and Getters for each private variable.</li>
                      <li>Write toString() method for the class.</li>
                    </ul>
                   
                    <ol>
                      <li>band - band number.(string type)</li>
                      <li>name - name of the designation like(software engineer, associate consultant, backend developer and etc)(String type).(string type)</li>
                      <li>maxSalary - Maximum salary of the employee.(double type)</li>
                    </ol>
                  </div>
                </div>
              </div> <!-- Ending of examples-->
  
            </div>
          </div>
        </div>
      </div>
      <!--end of the problem statement-->
  
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program"
              aria-expanded="false" aria-controls="Program">
              Program
            </button>
          </h5>
        </div>
        <div id="Program" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">
            <div class="card-group">
              <div class="card">
                <h5 class="text-center card-title">Student POJO Class</h5>
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/classrelation/student.png" alt="">
                </div>
              </div>
              <div class="card">
                <h5 class="text-center card-title">Branch POJO Class</h5>
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/classrelation/branch.png" alt="">
                </div>
              </div>
            </div>
            <img class="card-img-top" src="assets/img/classrelation/studentbranch.JPG" alt="">
          </div>
        </div>
      </div>
      <!--end of pragram-->
    </div>
  </div>