<div class = "card card-body">
    <h3>Introduction of Methods</h3>
    <h5>Mehtods</h5>
    <pre>
A method is a block of code or collection of statements or a set of code grouped together to perform a certain task or operation.
A method is a group of statements that perform some operation on some data, and may or may not return a result. 
    </pre>
    <img src="assets/img/methods/one.JPG"/>

    <h5>Method Name</h5>
    <pre>
It is used to give a unique name to the method. In the above syntax, “add” is the method name.         
    </pre>

    <h5>Method Signature/Parameters.</h5>
    <pre>
It is the list of parameters separated by a comma and enclosed in the pair of parentheses. 
It contains the data type and variable name. If the method has no parameter, left the parentheses blank.
    </pre>

    <h5>Return Type </h5>
<pre>
It defines the return type of the method. In the above syntax, “int” is the return type.
So, it should return some integer value. 
In the same way We can mention void as the return type then the method returns no value.
</pre>
    <img src="assets/img/methods/two.JPG"/>
</div>
