<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Super Array or Not</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <pre>
Read the inputs (mention the size of the inputs) and take any random number.
if the addition of any two numbers in the array is equal to the random number then print the array is super array or not a super array.

INPUT:
size -- 5
enter random number -- 14
values in the array
2 3 6 8 9
here if we add any two numbers then the answer should be equal to the random number 14 then print super array else not a super array.
2+3 = 5   --false
2+6 = 8   --false
2+8 = 10  --false
2+9 = 11  --false
3+6 = 9   --false
3+8 = 11  --false
3+9 = 12  --false
6+8 = 14  --true
break the loop and print it is a super array.

OUTPUT:
SUPER ARRAY
                      </pre>
                      
                  </div>
                </div>

                <!-- Starting of examples-->
                <div class="card-group">
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>Example - 1</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Array = {{ '{' }}2, 4, 2, 5, 6, 10, 4{{ '}' }}</p>
                      <p style="margin-top: -20px;" class="card-text">Number = 15</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Array is a super array</p>
                    </div>
                  </div>

                  <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center "><b>Example - 2</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Array = {{ '{' }}15, 22, 15, 29, 22, 29{{ '}' }}</p>
                      <p style="margin-top: -20px;" class="card-text">Number = 30</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Array is a super array</p>
                    </div>
                  </div>

                  <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                    <div class="card-header text-center"><b>Example - 3</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Array = {{ '{' }}71, 71, 22, 22, 22, 22, 22, 85{{ '}' }}</p>
                      <p style="margin-top: -20px;" class="card-text">Number = 30</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">Array is not a super array</p>
                    </div>
                  </div>
                </div> <!-- Ending of examples-->
              </div>     
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/arrays/super.JPG" alt="program">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                DebuggingVideo
              </button>
            </h5>
          </div>
          <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <app-video-cmp [url]="'13SuperArray.mp4'"></app-video-cmp>              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Practice" aria-expanded="false" aria-controls="Practice">
                Practice
              </button>
            </h5>
          </div>
          <div id="Practice" class="collapse" aria-labelledby="headingFive">
            <div class="card-body">
             
              <div data-pym-src="https://www.jdoodle.com/embed/v0/3VBR"></div>
              
            </div>
          </div>
        </div>

      </div>
      <!--<p>   another collapse end here </p>-->
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div> 
  








