<div>
  <div class="card card-body">
    <!--<p>   another collapse start here </p>-->
    <h3>Userdefined Exception</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement"
              aria-expanded="true" aria-controls="ProblemStatement">
              Introduction
            </button>
          </h5>
        </div>

        <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <pre>



            </pre>

          </div>
        </div>
      </div>
    </div> <!--problem statment-->

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program"
            aria-expanded="false" aria-controls="Program">
            Program
          </button>
        </h5>
      </div>
      <div id="Program" class="collapse" aria-labelledby="headingThree">
        <div class="card-body">
          <div class="card-group">
            <div class="card">
              <h5 class="text-center card-title">user defined exception</h5>
              <div class="card-body">
                <img class="card-img-top" src="assets/img/exceptions/user.JPG" alt="">
              </div>
            </div>
            <div class="card">
              <h5 class="text-center card-title">use of userdefined exception</h5>
              <div class="card-body">
                <img class="card-img-top" src="assets/img/exceptions/test.JPG" alt="">
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>