<div>
    <h3>Method Overloading</h3>

    <h5>Definition</h5>
    <pre>
Method overloading is a feature of Java in which a class has more than one method of the same name and their parameters are different
Simply, <b>Same method in the same class  with different signatures(parameters)</b> is called method overloading.
In overloading, the method / function has a same name but different signatures. 
It is also known as Compile Time Polymorphism because the decision of which method is to be called is made at compile time.
    </pre>
    <img src="assets/img/methods/overloading1.JPG"/>

    <br/>
    <h5>Overloading by changing the number of parameters</h5>
    <pre>
In below example the same method multiplication have different count of parameters with same datatype.
First method has 4 parameters, second method has 3 parameters and third method has only 2 parameters.
    </pre>
    <img src="assets/img/methods/parameterscount.JPG"/>

    <br/>
    <h5>Method Overloading by changing the data type of parameters</h5>
    <pre>
In below example same method has same number of parameters but different datatypes.
    </pre>
    <img src="assets/img/methods/parameterstype.JPG"/>

    <br/>
    <h5>Not included in Overloading</h5>
    <pre>
In below example the method name and number of parameters and data type also same. 
The variables names are different(we can give any name to variables).
So this will not comes under overloading these are duplicate methods which cause compiler error.
    </pre>
    <img src="assets/img/methods/overloading2.JPG"/>

    <br/>
    <pre>
In below example the method name and number of parameters and data type also same. 
The return type of the methods are different. 
The overloading only describing abount method name and method signature not return type of method.
So the method name and signatures(count of parametes or data type of parameters) are same which means duplicate methods.
    </pre>
    <img src="assets/img/methods/overloading3.JPG"/>
</div>
