<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>House - Room (One to Many Relation)</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement"
                aria-expanded="true" aria-controls="ProblemStatement">
                House - Room (One house can have many rooms)
              </button>
            </h5>
          </div>
  
          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
  
              <div class="card-group">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                  <div class="card-header text-center"><b>House Class</b></div>
                  <div class="card-body">
                    <p>Create house class with following properties <br>
                      Create a tester class and create & print atleast 5 house objects in the tester class main method.
                    </p>
                    <ul>
                      <li>Declare all class variables as private.</li>
                      <li>Write Defalut and parameterized constructor.</li>
                      <li>Write Setters and Getters for each private variable.</li>
                      <li>Write toString() method for the class.</li>
                    </ul>
                    <p>Here we are going to use room class object in the house class as a parameter.</p>
                    <p>Each house can have multiple rooms. </p>
                    <ol>
                        <li>doorno - The door number of the house.(string type)</li>
                        <li>stairs - The number of floors in the house.(int type)</li>
                        <li>streetname - The landmark of the house(String type)</li>
                        <li><b>rooms - The list of rooms(List&lt;Room&gt; rooms - list object with Room type)</b></li>
                        <li>square feet - The total area covered.(double type)</li>
                    </ol>
                  </div>
                </div>
  
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                  <div class="card-header text-center "><b>Room Class</b></div>
                  <div class="card-body">
                    <p>Create Room class with following properties <br>
                      Create a tester class and create & print atleast 5 room objects in the tester class main method.
                    </p>
                    <ul>
                      <li>Declare all class variables as private.</li>
                      <li>Write Defalut and parameterized constructor.</li>
                      <li>Write Setters and Getters for each private variable.</li>
                      <li>Write toString() method for the class.</li>
                    </ul>
                   
                    <ol>
                      <li>id - Room unique number.(string type)</li>
                      <li>square feet - The total area covered.(double type)</li>
                    </ol>
                  </div>
                </div>
              </div> <!-- Ending of examples-->
  
            </div>
          </div>
        </div>
      </div>
      <!--end of the problem statement-->
  
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program"
              aria-expanded="false" aria-controls="Program">
              Program
            </button>
          </h5>
        </div>
        <div id="Program" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">
            <div class="card-group">
              <div class="card">
                <h5 class="text-center card-title">Student POJO Class</h5>
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/classrelation/" alt="">
                </div>
              </div>
              <div class="card">
                <h5 class="text-center card-title">Branch POJO Class</h5>
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/classrelation/" alt="">
                </div>
              </div>
            </div>
            <img class="card-img-top" src="assets/img/classrelation/" alt="">
          </div>
        </div>
      </div>
      <!--end of pragram-->
    </div>
  </div>