<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Methods Examples</h3>
      <div id="accordion">
        <div class="tab-title tab-slide-effect">
            <span class="tab-pill" id="methodcalling-type1" [ngClass]="(elementId=='methodcalling-type1')?'active':''" (click)="tabChange($event)" data-hover="Method Calling">Method Calling</span>
            <span class="tab-pill" id="methodcalling-type2" [ngClass]="(elementId=='methodcalling-type2')?'active':''" (click)="tabChange($event)" data-hover="Method calling with Return Type">Method calling with Return Type</span>
            <span class="tab-pill" id="methodcalling-type3" [ngClass]="(elementId=='methodcalling-type3')?'active':''" (click)="tabChange($event)" data-hover="Method calling with parameters">Method calling with parameters</span>
        </div>
        <div class="card" *ngIf="elementId=='methodcalling-type1'">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Method Calling
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">

                <img src="assets/img/methods/calling.JPG" alt="program">
            </div><!-- Ending of problem statement card body-->
          </div>
        </div> <!-- Ending of problem statement-->
       
        <div class="card" *ngIf="elementId=='methodcalling-type2'">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Method calling with Return Type
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/methods/return.jpg" alt="program">
            </div>
          </div>
        </div>

        <div class="card" *ngIf="elementId=='methodcalling-type3'">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#param" aria-expanded="false" aria-controls="Program">
                  Method calling with parameters
                </button>
              </h5>
            </div>
            <div id="param" class="collapse" aria-labelledby="headingThree">
              <div class="card-body">
                <img src="assets/img/methods/param.JPG" alt="program">
              </div>
            </div>
        </div>

      </div>
    </div>
  </div> 
  

