<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>PREDATA</h3>
      <div class="card-body">

        <div class="card border-warning" style="border: 2px solid;">
          <div class="card" style="margin: 5px;">
            <div class="card-body" style="font-family: 'Inter', sans-serif;">
              <!-- <p>
                  The CREATE DATABASE statement is used to create a new SQL(Structure Query Language) database. 
              </p> -->
              <h6 class="text-center">TABLE 1</h6>
              <img class="img-center" src="assets/img/mySql/preData/TABLE1.JPG" alt="pattern" >
              <pre>

CREATE QUERY : 

    CREATE TABLE CUSTOMERS(ID   INT,NAME VARCHAR (20),AGE  INT,ADDRESS  CHAR (25) ,SALARY   DECIMAL (18, 2));
                                
INSERT QUERY :

    INSERT INTO CUSTOMERS VALUES (1, 'Ramesh', 32, 'Ahmedabad', 2000.00 );

    INSERT INTO CUSTOMERS VALUES (2, 'Kiran', 25, 'Delhi', 1500.00 );

    INSERT INTO CUSTOMERS VALUES (3, 'Ravi', 23, 'Kota', 2000.00 );

    INSERT INTO CUSTOMERS VALUES (4, 'Rajendra', 25, 'Mumbai', 6500.00 );

    INSERT INTO CUSTOMERS VALUES (5, 'Vamsi', 27, 'Bhopal', 8500.00 );

    INSERT INTO CUSTOMERS VALUES (6, 'Raju', 22, 'MP', 4500.00 );

              </pre>   

              <h6 class="text-center">TABLE 2</h6>
              <img class="img-center" src="assets/img/mySql/preData/TABLE2.JPG" alt="pattern" >
              <pre>

CREATE QUERY : 

    CREATE TABLE PRODUCT(ID   INT,NAME VARCHAR (20),TYPE  CHAR (25) ,COST   DECIMAL (18, 2));
                                
INSERT QUERY :

    INSERT INTO PRODUCT VALUES (101, 'LONOVA','LAPTOP', 20000.00 );

    INSERT INTO PRODUCT VALUES (102, 'HP', 'LAPTOP', 15000.00 );
                
    INSERT INTO PRODUCT VALUES (103, 'ACCER', 'LAPTOP', 20000.00 );
                
    INSERT INTO PRODUCT VALUES (104, 'MAC', 'LAPTOP', 65000.00 );
                
    INSERT INTO PRODUCT VALUES (105, 'DELL', 'LAPTOP', 35000.00 );
                
    INSERT INTO PRODUCT VALUES (106, 'PREDEATOR', 'LAPTOP', 45000.00 );

              </pre>     
            </div>
          </div>
        </div>
      </div><!-- Ending of problem statement card body-->
      <!--<p>   another collapse end here </p>-->
      <!-- <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp> -->
    </div>
  </div> 
