<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Maximum number in an ArrayList</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">

              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <p>
                        We need to find the maximum number in an arraylist which means to find the largest number in the arraylist.
                    </p>
                    
                  </div>
                </div>

                <!-- Starting of examples-->
                <div class="card-group">
                    <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                      <div class="card-header text-center"><b>Example - 1</b></div>
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                        <p class="card-text">Enter size of an arraylist</p>
                        <p style="margin-top: -20px;" class="card-text">5</p>
                        <p class="card-text">Enter elements of an arraylist</p>
                        <p style="margin-top: -20px;" class="card-text">5</p>
                        <p style="margin-top: -20px;" class="card-text">56</p>
                        <p style="margin-top: -20px;" class="card-text">67</p>
                        <p style="margin-top: -20px;" class="card-text">23</p>
                        <p style="margin-top: -20px;" class="card-text">7</p>
                        <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                        <p class="card-text">67 is the maximum number in the arraylist</p>
                      </div>
                    </div>
  
                    <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                      <div class="card-header text-center "><b>Example - 2</b></div>
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                        <p class="card-text">Enter size of an arraylist</p>
                        <p style="margin-top: -20px;" class="card-text">4</p>
                        <p class="card-text">Enter elements of an arraylist</p>
                        <p style="margin-top: -20px;" class="card-text">45</p>
                        <p style="margin-top: -20px;" class="card-text">13</p>
                        <p style="margin-top: -20px;" class="card-text">15</p>
                        <p style="margin-top: -20px;" class="card-text">43</p>
                        <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                        <p class="card-text">45 is the maximum number in the arraylist</p>
                      </div>
                    </div>
  
                    <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                      <div class="card-header text-center"><b>Example - 3</b></div>
                      <div class="card-body">
                          <p class="card-text">Enter size of an arraylist</p>
                          <p style="margin-top: -20px;" class="card-text">6</p>
                          <p class="card-text">Enter elements of an arraylist</p>
                          <p style="margin-top: -20px;" class="card-text">11</p>
                          <p style="margin-top: -20px;" class="card-text">84</p>
                          <p style="margin-top: -20px;" class="card-text">24</p>
                          <p style="margin-top: -20px;" class="card-text">66</p>
                          <p style="margin-top: -20px;" class="card-text">51</p>
                          <p style="margin-top: -20px;" class="card-text">67</p>
                          <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                          <p class="card-text">84 is the maximum number in the arraylist</p>
                      </div>
                    </div>
                  </div> <!-- Ending of examples-->
              </div>
            </div><!-- Ending of problem statement card body-->
          </div>
        </div> <!-- Ending of problem statement-->
       
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/" alt="program">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                DebuggingVideo
              </button>
            </h5>
          </div>
          <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <app-video-cmp [url]=""></app-video-cmp>              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#testcases" aria-expanded="false" aria-controls="InputOutput">
                Test Cases
              </button>
            </h5>
          </div>
          <div id="testcases" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body">

                <div class="card-group">
                    <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                      <div class="card-header text-center"><b>Testcase - 1</b></div>
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                        <p  class="card-text">5</p>
                        <p style="margin-top: -20px;" class="card-text">5</p>
                        <p style="margin-top: -20px;" class="card-text">56</p>
                        <p style="margin-top: -20px;" class="card-text">67</p>
                        <p style="margin-top: -20px;" class="card-text">23</p>
                        <p style="margin-top: -20px;" class="card-text">7</p>
                        <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                        <p class="card-text">67</p>
                      </div>
                    </div>
  
                    <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                      <div class="card-header text-center "><b>Testcase - 2</b></div>
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                        <p class="card-text">4</p>
                        <p style="margin-top: -20px;" class="card-text">45</p>
                        <p style="margin-top: -20px;" class="card-text">13</p>
                        <p style="margin-top: -20px;" class="card-text">15</p>
                        <p style="margin-top: -20px;" class="card-text">43</p>
                        <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                        <p class="card-text">45</p>
                      </div>
                    </div>
  
                    <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                      <div class="card-header text-center"><b>Testcase - 3</b></div>
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                        <p class="card-text">6</p>
                        <p style="margin-top: -20px;" class="card-text">11</p>
                        <p style="margin-top: -20px;" class="card-text">84</p>
                        <p style="margin-top: -20px;" class="card-text">24</p>
                        <p style="margin-top: -20px;" class="card-text">66</p>
                        <p style="margin-top: -20px;" class="card-text">51</p>
                        <p style="margin-top: -20px;" class="card-text">67</p>
                          <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                          <p class="card-text">84</p>
                      </div>
                    </div>
                  </div>
                
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Practice" aria-expanded="false" aria-controls="Practice">
                Practice
              </button>
            </h5>
          </div>
          <div id="Practice" class="collapse" aria-labelledby="headingFive">
            <div class="card-body">
              
            </div>
          </div>
        </div>

      </div>
      <br/>
      <!--<p>   another collapse end here </p>-->
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div> 
  