<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Automorphic Number</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                  <div class="card-body" style="font-family: 'Inter', sans-serif;">
                    <p>
                      A number is called an automorphic number if and only if the square of the given number ends with the same number itself.
                    </p>
                    <p>
                     
                      For example:<br> 

                      25, 76 are automorphic numbers because their square is 625 and 5776 respectively and the last two digits of the square represent the number itself.<br> 
                      25 = 25*25 = 625 ----- last two digits of the number is same as the number 25.<br>  
                      So, 25 is an Automorphic number<br>   
                      7 = 7*7= 49 -------------- last digit of the number is not equal to the number 7.<br>  
                      So, it is not an automorphic number<br> 
                  </p>  
                  </div>
                </div>
                <div class="card-group">
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>Example - 1</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter n value</p>
                      <p style="margin-top: -20px;" class="card-text">25</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">25 is an automorphic number</p>
                    </div>
                  </div>
        
                  <div  class="card border-primary"  style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center "><b>Example - 2</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter n value</p>
                      <p style="margin-top: -20px;" class="card-text">7</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">7 is not an automorphic number</p>
                    </div>
                  </div>
        
                  <div class="card border-primary" style="border: 2px solid; margin: 10px;" >
                    <div class="card-header text-center"><b>Example - 3</b></div>
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                      <p class="card-text">Enter n value</p>
                      <p style="margin-top: -20px;" class="card-text">5</p>
                      <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                      <p class="card-text">5 is an automorphic number</p>
                    </div>
                  </div>
                </div> <!-- Ending of examples-->
              </div>  
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                  Program
                </button>
              </h5>
            </div>
            <div id="Program" class="collapse" aria-labelledby="headingThree">
              <div class="card-body">
                <img src="assets/img/basic/automorphic.JPG" alt="program">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#DebuggingVideo" aria-expanded="false" aria-controls="DebuggingVideo">
                  DebuggingVideo
                </button>
              </h5>
            </div>
            <div id="DebuggingVideo" class="collapse" aria-labelledby="headingFour">
              <div class="card-body">
                <app-video-cmp [url]="'15AutomorphicNumber.mp4'"></app-video-cmp>              
              </div>
            </div>
          </div>
  
        </div>
      </div>


      <!--<p>   another collapse end here </p>-->
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div>
