<div>
  <div class="card card-body">
    <!--<p>   another collapse start here </p>-->
    <h3>User - Movies (One to Many Relation)</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement"
              aria-expanded="true" aria-controls="ProblemStatement">
              User - Movies (One user can watch many movies)
            </button>
          </h5>
        </div>

        <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">

            <div class="card-group">
              <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                <div class="card-header text-center"><b>User Class</b></div>
                <div class="card-body">
                  <p>Create User class with following properties <br>
                    Create a tester class and create & print atleast 5 User objects in the tester class main method.
                  </p>
                  <ul>
                    <li>Declare all class variables as private.</li>
                    <li>Write Defalut and parameterized constructor.</li>
                    <li>Write Setters and Getters for each private variable.</li>
                    <li>Write toString() method for the class.</li>
                  </ul>
                  <p>Here we are going to use movie class object in the user class as a parameter.</p>
                  <p>Each user can watch multiple movies. </p>
                  <ol>
                      <li>id - This property is to give unique id for user like userID(int type)</li>
                      <li>name - The name of the user.(string type)</li>
                      <li><b>movies - The list of movies.(List&lt;Movie&gt; movies - list object with Movie type)</b></li>
                  </ol>
                </div>
              </div>

              <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                <div class="card-header text-center "><b>Movie Class</b></div>
                <div class="card-body">
                  <p>Create Movie class with following properties <br>
                    Create a tester class and create & print atleast 5 movie objects in the tester class main method.
                  </p>
                  <ul>
                    <li>Declare all class variables as private.</li>
                    <li>Write Defalut and parameterized constructor.</li>
                    <li>Write Setters and Getters for each private variable.</li>
                    <li>Write toString() method for the class.</li>
                  </ul>
                 
                  <ol>
                    <li>id - Movie unique id.(string type)</li>
                    <li>name - Name of the Movie(RRR,MCA,Radheshyam and etc).(string type)</li>
                  </ol>
                </div>
              </div>
            </div> <!-- Ending of examples-->

          </div>
        </div>
      </div>
    </div>
    <!--end of the problem statement-->

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program"
            aria-expanded="false" aria-controls="Program">
            Program
          </button>
        </h5>
      </div>
      <div id="Program" class="collapse" aria-labelledby="headingThree">
        <div class="card-body">
          <div class="card-group">
            <div class="card">
              <h5 class="text-center card-title">Student POJO Class</h5>
              <div class="card-body">
                <img class="card-img-top" src="assets/img/classrelation/" alt="">
              </div>
            </div>
            <div class="card">
              <h5 class="text-center card-title">Branch POJO Class</h5>
              <div class="card-body">
                <img class="card-img-top" src="assets/img/classrelation/" alt="">
              </div>
            </div>
          </div>
          <img class="card-img-top" src="assets/img/classrelation/studentbranch.JPG" alt="">
        </div>
      </div>
    </div>
    <!--end of pragram-->
  </div>
</div>