<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;800&family=Source+Code+Pro:wght@900&display=swap" rel="stylesheet">
<!-- section1 start -->
<div class="main container-fluid px-3 pt-8 pb-10 overflow-visible" >
    <div class="row">
        <div class="col">
            <div class="left-content">
                <h1 class="title padding-top-4rem" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1500">
                  Learning Today,
                </h1>
                <h1 class="title padding-bottom-25px" data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="2000">
                  Leading Tomorrow
                </h1>
                <span class="white second-description" data-aos="zoom-in" data-aos-delay="2000" data-aos-duration="2500">
                  Designed and guided from top developers from
                </span>
                <img src="assets/img/home/company-logos/microsoft_logo.png" alt="microsoftlogo" style="width: 176px;">
                <img src="assets/img/home/company-logos/oracle_logo.svg" alt="oraclelogo" style="width: 200px;margin-top: 10px;">
                <br>
                <img src="assets/img/home/company-logos/amazon_logo.png" alt="amazonlogo" style="width: 145px;">
                <img src="assets/img/home/company-logos/jpm_logo.svg" alt="jpmlogo" style="margin-left: 25px;width: 152px;">
                <!-- <div class="phone-number-div">
                    <input type="text" class="input-number" placeholder="+91">
                    <button class="shake-bottom"> Register Now! </button>
                </div>
                <p class="white"> New Batches are Already started !!!</p> -->
            </div>
        </div>
       <div class="col col-md-auto">
        <img src="assets/img/hero-img-3.png" class="img-fluid animated" alt="" style="width:500px;">
       </div>
    </div>
</div>

<!-- section1 end -->
<!-- white card section start -->
<div class="review-cards">
    <app-animated-card></app-animated-card>
</div>
<!-- white card section end -->
<!-- testimonial section start -->
<div class="main2 container-fluid px-3 pt-8 pb-10 overflow-visible ">
  <div class="second-heading" data-aos="zoom-in" data-aos-delay="5000" data-aos-duration="1000" data-aos-offset="200">
    <app-students-offers-section></app-students-offers-section>
  </div>
  <app-testimonials></app-testimonials>  
</div>
<!-- testimonial section end -->
<!-- section 3 start -->
<div class="main3 container-fluid px-3 pt-8 pb-10 overflow-visible" >
  <div class="third-heading">
    <h1 data-aos="fade-up"  data-aos-offset="100">Our Training Modules</h1>
  </div>
  <app-training-modules></app-training-modules>
</div>
<!-- section 3 end -->
<!-- section 4 start -->
<div class="main4 container-fluid px-3 pt-8 pb-10 overflow-visible ">
  <div class="second-heading" data-aos="zoom-in" data-aos-delay="5000" data-aos-duration="1000" data-aos-offset="100">
    <h1>Our Mentors</h1>
  </div>
  <div class="carousel-container">
    <app-mentor-section></app-mentor-section>
 </div>
  
</div>
<!-- section 4 end -->
