<div>
  <div class="card card-body">
    <!--<p>   another collapse start here </p>-->
    <h3>Unchecked Exception</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement"
              aria-expanded="true" aria-controls="ProblemStatement">
              Introduction
            </button>
          </h5>
        </div>

        <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <pre>

Try:
It is a block where an exception code present. we can't use try block alone and it must be followed by either catch or finally.

Catch:
Catch block will handle the exception. It should be preceded by try block. we can't use catch block alone without try block.

Throw:
It is used to execute the necessary code of the program. It is executed whether an exception is handled or not.

Throws:
It is used to throw an exception.

Finally:
It is used to declare exceptions. It will specify that there may occur an exception in the method. It doesn't throw an exception. It is always used with method signature.
                
                  
            </pre>

          </div>
        </div>
      </div>
    </div> <!--problem statement-->

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program"
            aria-expanded="false" aria-controls="Program">
            Program
          </button>
        </h5>
      </div>
      <div id="Program" class="collapse" aria-labelledby="headingThree">

          <img class="card-img-top" src="assets/img/exceptions/mul.JPG" alt="">
        
      </div>
    </div>
  </div>
</div>