<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>Hashset Introduction</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
               Introduction
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
              <pre>

Hashset is implemented based on the hashtable datastructure.

Hashset does not allow duplicate values. 
If we try to add the object then the object will not add into the hashset and the method “add” will return false.

We can insert null values into the hashset.

Objects are inserted into the hashset based on the hashcode of the objects.

We cannot iterate for loop through index in hashset.

Creating Hashset:

HashSet&lt;String&gt; set = new HashSet ();
Here set can store strings only.

HashSet&lt;Integer&gt; set = new HashSet ();
Here set can store integers only.
                
                
            </pre>   
            <img src="assets\img\collections\hashset.JPG">
            </div>
          </div>
        </div>
      </div>
    </div>           
</div>
