<div>
    <div class="card card-body">
      <!--<p>   another collapse start here </p>-->
      <h3>House Class</h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#ProblemStatement" aria-expanded="true" aria-controls="ProblemStatement">
                Problem Statement
              </button>
            </h5>
          </div>

          <div id="ProblemStatement" class="collapse show" aria-labelledby="headingOne">
            <div class="card">
              <h5 class="card-header">House Class</h5>
              
              <div class="card-body">
                <p>Create House class with following properties <br>
                  Create a tester class and create & print atleast 5 House objects in the tester class main method.</p>
                  <ol>
                      <li>doorno - The door number of the house.(string type)</li>
                      <li>stairs - The number of floors in the house.(int type)</li>
                      <li>streetname - The landmark of the house(String type)</li>
                      <li>no of rooms - The number of rooms in the house.(int type)</li>
                      <li>square feet - The total area covered.(double type)</li>
                  </ol>
                </div>
                
            </div><!-- Ending of problem statement card body-->
          </div>
        </div> <!-- Ending of problem statement-->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false" aria-controls="Program">
                Program
              </button>
            </h5>
          </div>
          <div id="Program" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <img src="assets/img/objectclass/student.JPG" alt="program">
              <img src="assets/img/objectclass/studentt.JPG" alt="program">
            </div>
          </div>
        </div><!--end of pragram-->
      </div>
    </div>
  </div> 
  



