<div>
  <div class="card card-body">
    <!--<p>   another collapse start here </p>-->
    <h3>Factory Design Pattern</h3>
    

    <div id="accordion">
      
      <h4><button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#card1" aria-expanded="true"
        aria-controls="ProblemStatement" >DB Connection Class</button></h4>
      <div id = "card1" class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#dbclass" aria-expanded="true"
              aria-controls="ProblemStatement">
              Class Diagram
            </button>
          </h5>
        </div>

        <div id="dbclass" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <img src="assets/img/low-level-design/creational/Factory_DBConnection.png" alt="Factory_DBConnection">
          </div>
        </div>

        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#dbcode" aria-expanded="true"
              aria-controls="ProblemStatement">
              Program
            </button>
          </h5>
        </div>

        <div id="dbcode" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <div class="card-group">
              <div class="card">
                <h5 class="text-center card-title">DB Connection Class</h5>
                <div class="card-body">
                  <img src="assets/img/low-level-design/creational/Factory_DB_Connection_Conn_Class.png"
                    alt="Factory_DB_Connection_Conn_Class">
                </div>
              </div>
              <div class="card">
                <h5 class="text-center card-title">DB Factory Class</h5>
                <div class="card-body">
                  <img src="assets/img/low-level-design/creational/Factory_DB_Connection_FactoryClass.png"
                    alt="Factory_DB_Connection_FactoryClass">
                </div>
              </div>
            </div>
            <img class="card-img-top" src="assets/img/low-level-design/creational/Factory_DB_Connection_Client_Class.png" alt="Factory_DB_Connection_Client_Class">
          </div>
        </div>
      </div> <!-- Ending of example 1-->

    
    <h4><button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#card2" aria-expanded="true"
      aria-controls="ProblemStatement" >Payment Class</button></h4>
      <div id="card2" class="card">
        
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#paymrntclass"
              aria-expanded="false" aria-controls="ProblemStatement">
              Class Diagram
            </button>
          </h5>
        </div>

        <div id="paymentclass" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <img src="assets/img/low-level-design/creational/Factory_Payment.png" alt="Factory_Payment">
          </div>
        </div>

        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#paymentcode"
              aria-expanded="false" aria-controls="ProblemStatement">
              Program
            </button>
          </h5>
        </div>

        <div id="paymentcode" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <div class="card-group">
              <div class="card">
                <h5 class="text-center card-title">Payment Interface</h5>
                <div class="card-body">
                  <img src="assets/img/low-level-design/creational/Factory_Payment_Interface.png"
                    alt="Factory_Payment_Interface">
                </div>
              </div>
              <div class="card">
                <h5 class="text-center card-title">Credit Card Class</h5>
                <div class="card-body">
                  <img src="assets/img/low-level-design/creational/Factory_Payment_Creditcard.png"
                    alt="Factory_Payment_Creditcard">
                </div>
              </div>
            </div>

            <div class="card-group">
              <div class="card">
                <h5 class="text-center card-title">Debit Card Class</h5>
                <div class="card-body">
                  <img src="assets/img/low-level-design/creational/Factory_Payment_Debitcard.png"
                    alt="Factory_Payment_Debitcard">
                </div>
              </div>
              <div class="card">
                <h5 class="text-center card-title">Net Banking Class</h5>
                <div class="card-body">
                  <img src="assets/img/low-level-design/creational/Factory_Payment_NetBanking.png"
                    alt="Factory_Payment_NetBanking">
                </div>
              </div>
            </div>

            <div class="card-group">
              <div class="card">
                <h5 class="text-center card-title">UPI Class</h5>
                <div class="card-body">
                  <img src="assets/img/low-level-design/creational/Factory_Payment_UPI.png"
                    alt="Factory_Payment_UPI">
                </div>
              </div>
              <div class="card">
                <h5 class="text-center card-title">Factory Class</h5>
                <div class="card-body">
                  <img src="assets/img/low-level-design/creational/Factory_Payment_Factory_Class.png"
                    alt="Factory_Payment_Factory_Class">
                </div>
              </div>
            </div>
            <img class="card-img-top" src="assets/img/low-level-design/creational/Factory_Payment_Client.png" alt="Factory_Payment_Client">
          </div>
        </div>

      </div>

    </div>
  </div>
</div>